<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246196822761-rj700eiaonpbm9mnnamc594nba1midu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246196822761-rj700eiaonpbm9mnnamc594nba1midu9</string>
	<key>API_KEY</key>
	<string>AIzaSyBrL0Q2Q_oVcYElFXNeYEsuXSRLVirHU1w</string>
	<key>GCM_SENDER_ID</key>
	<string>246196822761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalproject</string>
	<key>PROJECT_ID</key>
	<string>elearning-8b084</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-8b084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246196822761:ios:330bf2a956ef2edab2c678</string>
</dict>
</plist>